.certificates{
    margin-bottom: 3rem;
}

.certificates-title{
    animation-play-state: running;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 0;
    margin-bottom: 2rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 2rem;
}

.certificate-card{
    animation-play-state: running;
    transition: all 0.3s ease;
    height: 180px;
    padding: .75rem;
    overflow: hidden;
    position: relative;
}

.certificate-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(66, 153, 225, 0.7);
}

.certificate-card .overlay {
    opacity: 0;
    transition: all 0.3s ease;
    background: rgba(17, 25, 40, 0.8);
}

.certificate-card:hover .overlay {
    opacity: 1;
}

.certificate-card-bg{
    --tw-bg-opacity: 1;
    background-color: rgba(31,41,55,var(--tw-bg-opacity));
    border-radius: .375rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    position: relative;
}

.card-descr{
    padding: .75rem;
    --tw-gradient-to: transparent;
    --tw-gradient-from: #111827;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to, rgba(17, 24, 39, 0));
    background-image: linear-gradient(to top,var(--tw-gradient-stops));
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
}

.card-descr>p{
    font-weight: 700;
    margin: 0;
}

.overlay{
    opacity: 0;
    transition: all 0.3s ease;
    background: rgba(17, 25, 40, 0.8);
    border-radius: .375rem;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;bottom: 0;left: 0;right: 0;
    position: absolute;
}

.overlay-text{
    text-align: center;
}

.overlay-title{
  --tw-text-opacity: 1;
  color: rgba(147,197,253,var(--tw-text-opacity));
  font-weight: 700;
  margin: 0;  
}

.overlay-descr{
   --tw-text-opacity: 1;
  color: rgba(209,213,219,var(--tw-text-opacity));
  font-size: .875rem;
  line-height: 1.25rem;
  margin: 0;
  margin-top: .25rem;
}

.button{
    margin: 20px 0 20px 0;
}

.projects-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,minmax(0,1fr));
    
}

.project-card{
    overflow: hidden;
    animation-play-state: running;
    transition: all 0.3s ease;
    height: 220px;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(66, 153, 225, 0.6);
}

.blue-top-line{
    --tw-bg-opacity: 1;
    background-color: rgba(59,130,246,var(--tw-bg-opacity));
    height: .5rem;
}

.project-card-content{
    padding: 1.5rem;
}

.items-start{
    display: flex;
    align-items: flex-start;  
}

.card-img{
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    display: flex;
    margin-right: 1rem;

}

.items-descr{
    --tw-text-opacity: 1;
    color: rgba(209,213,219,var(--tw-text-opacity));
    margin: 0;
    margin-top: 1rem;
}

.card-header>h3{
    --tw-text-opacity: 1;
    color: rgba(147,197,253,var(--tw-text-opacity));
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0;
}

.card-header>p{
    --tw-text-opacity: 1;
    color: rgba(156,163,175,var(--tw-text-opacity));
    font-size: .875rem;
    line-height: 1.25rem;
    margin: 0;
}

.bot-btns{
    justify-content: space-between;
    display: flex;
    margin-top: 1rem;
}

.live-demo-btn{
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms;
    --tw-text-opacity: 1;
    color: rgba(96,165,250,var(--tw-text-opacity));
    font-size: 1rem;
    line-height: 1.25rem;
    text-decoration: inherit;
    align-items: center;
    justify-content: center;
    display: flex;
}

.live-demo-btn:hover{
    --tw-text-opacity: 1;
    color: rgba(147,197,253,var(--tw-text-opacity));
}

.live-demo-btn>svg{
    margin-right: .25rem;
}

/*

| Device                  | Type         | Width (min–max)  | Comment                          |
| ----------------------- | ------------ | ---------------- | -------------------------------- |
| **Mobile**              | `mobile`     | 0 – 639px        | iPhone, Android                  |      
| **Tablect vertical **   | `tablet-sm`  | 640 – 767px      | Small Tablets, Big Phones        |
| **Tablet horizontal  ** | `tablet`     | 768 – 1023px     | iPad horizontal                  |
| **Desktop small **      | `laptop-sm`  | 1024 – 1279px    | Standart Laptops                 |
| **Desktop**             | `desktop`    | 1280 – 1535px    | Full HD monitors                 |
| **Big screens**         | `desktop-xl` | 1536px and more  | 2K/4K and TV                     |

*/

@media (max-width: 639px) {
    .certificates-title{
        text-align: center;
    }

    .grid{
        grid-template-columns: repeat(1, minmax(0,1fr));
        gap: 1rem;
    }

    .projects-grid{
        grid-template-columns: repeat(1, minmax(0,1fr));
    }
}